---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">Hi my name is Emmanuel ELisea and I am a freshamn at the University of Illinois at Urbana Champaign studying computer science. This is my website where you can 
    see my college progress and find my contact information. You can also find my resume in my website. This website is still growing along with my college career so over time this website will reflect my progress in college.</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
